//-------------------------------------------------------------------------
// AttendanceManegementtApp スタイル
//-------------------------------------------------------------------------
@import"env";
$col_main: lighten(green,14%);
@import"base"; //"env"->"base"->"employee_list"

//***************************************
// app内共通スタイル
//***************************************
.admin{background-color: #eee;}


main .main_body
{
    table {
        margin-bottom: 1em;
        border-collapse: collapse;
        border: 1px solid #bbb;
        background: #fff;

        tr{
            border-top: 1px solid #bbb;
            td{
                box-sizing: border-box;
                text-align: center;
                box-sizing: border-box;
                width: 90px;
            }
            .long{width: 150px;}
        }

    }

    // オペレーションボタンのカスタマイズ
    .oparation_btn_container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        // justify-content: space-between;

        ul[class="op_btns"]{
            font-weight: bold;
            li{
                // display: flex;
                select{
                    width: 8rem;
                    height: 2em;
                    margin-right: 1em;
                    border: solid 1px $col_main;
                    border-radius: .3em;

                    font-size: 16px;
                }
            }

            //絞り込みボタン
            li[class="serch_btn"]{
                margin-left: 1em;
                .btn-op{
                    width: 8em;
                    font-size: 1em;
                    background: $col_main;
                    border: solid 2px $col_main;

                    color : #fff;
                }
            }

            //その他のボタン
            li[class="other_btn"]{
                .btn-op{
                    width: 6em;
                    text-align: center;
                    background: #fff;
                    border: solid 2px #aaa;
                    color:#000;
                }
            }

        }
    }

}

.contents{
    h4{
        display: flex;
        align-items: center;
        // height: 3em;
        font-size: 1.4rem;
        padding: 0;
        p{ margin-right: 2em;}

        .pason_item{
            display: flex;
            justify-content: end;
            align-items: center;
            margin-right: 2em;
            .employee_img{
                width: 2em;
                height: 2em;
                border-radius: 50%;
                border: 1px solid #bbb;
                margin: .5em 1em;
            }
            .id, .name{
                font-weight: bold;
                margin-right: .5em;
            }
        }

    }


    $table_width: 1000px;
    // *** 日別勤怠一覧テーブル ***
    .edit table{
        .td_size1{ width: $table_width/5;}
        .title{ border-right: solid 1px #bbb;}

    }


    // *** 日別勤怠一覧テーブル ***
    .date_table_box{
        table .td_item{ width: $table_width/10;}
        table .td_long{ width: $table_width/10*1.5;}
    }

    // *** 月別勤怠一覧テーブル ***
    .month_table_box{
        table .td_item{ width: ($table_width - 200px)/5;}
    }

    // *** 個人別勤怠一覧テーブル ***
    .person_table_box{
        table .td_item{ width: $table_width/8;}
        table .td_long{ width: $table_width/8*1.5;}
    }
    // *** 各テーブル共通 ***
    .date_table_box, .month_table_box, .person_table_box{
        tbody{
            tr:nth-child(odd){ background-color: #eee;}
        }
    }

    table{
        th ,td{
            font-size: 14px;
            padding: .5em;
            height: 3.6rem;
            .td_image{ width: 3em;}
            .td_name{
                width: 160px;
                .id{
                    font-size: .8em;
                }
            }
        }
        tfoot tr{border-top: 2px solid #bbb;}

        .employee_img{
            width: 3em;
            height: 3em;
            border-radius: 50%;
            border: 1px solid #bbb;
        }
    }


    .submit_container{
        display: flex;
        justify-content: center;
        margin: 2em auto;
        width: $table_width;

        .btn{
            width: 16rem;
            padding: 1rem 0;

            text-align: center;
            // font-weight: bold;
            font-size: 16px;
            margin-right: 1rem;
            border: 2px solid $col_main;
            border-radius: .8rem;
            cursor: pointer;
        }
        .col_btn{
            @extend.btn;
            // width: $table_width*0.8;
            color: #fff;
            background: $col_main;
            :hover{background: pink;}
        }
        .col_btn:hover{
            background: darken($col_main,10%);
            border: solid 2px darken($col_main,10%);
            color: darken(#fff,10%);
        }

    }


}

