//-------------------------------------------------------------------------
// EmployeeListApp スタイル
//-------------------------------------------------------------------------
@import"env";
$col_main: darken(aqua,18%);
// $col_main: purple;

@import"base"; //"env"->"base"->"employee_list"
//***************************************
// employee 共通スタイル
//***************************************
main .main_body
{
    table {
        margin-bottom: 1em;
        border-collapse: collapse;
        border: 1px solid #bbb;
        background: #fff;

        tr{
            border-top: 1px solid #bbb;
            td{
                box-sizing: border-box;
                text-align: center;
                box-sizing: border-box;
                width: 90px;
            }
            .long{width: 150px;}
        }

    }

    // オペレーションボタンのカスタマイズ
    .oparation_btn_container{
        ul[class="op_btns"]{

            // input{
            input[type="text"]{
                width: 16rem;
                line-height: 2em;
                padding: .3em;
                margin-right: 1em;
                border: solid 1px $col_main;
                border-radius: .3em;
            }

            //絞り込みドロップダウン
            @include dd-menu;
            li:not(:first-child) {
                cursor: pointer;
                .refined:after{
                    @include link-befor;
                    top: .2em;
                    content: "\e5c5";
                    cursor: pointer;
                }
                label{
                    cursor: pointer;
                }
            }

            //絞り込みボタン
            li[class="serch_btn"]{
                margin-right: 1em;
                cursor: pointer;
                .btn-op{
                    font-size: 1em;
                    background: $col_main;
                    color : #fff;
                }
            }


            //新規登録
            li[class="insert"]{
                margin-left: 1em;

                .btn-op{
                    border: solid 1px $col_main;
                    background: $col_main;
                    color: #fff;
                }

                .btn-op::before{
                    @include link-befor;
                    top: .2em;
                    // margin-right: .5em;
                    content: "\e7fe";
                    color: #fff;
                }
            }

            //その他のボタン
            li[class="other_btn"]{
                .btn-op{
                    width: 4em;
                    text-align: center;
                    background: $col_main;
                    color: #fff;
                    cursor: pointer;
                    a{ color:#fff;}

                }
            }

        }
    }
}


//***************************************
// employee.list スタイル
//***************************************
.all_list{
    .employee_img{
        width: 3em;
        height: 3em;
        border-radius: 50%;
        border: 1px solid #bbb;
    }
    td{
        min-width: 6em;
        padding: .5em 1em;
    }
    tr:nth-child(even){
        background-color: #eee;
    }
}


//***************************************
// employee.ditails スタイル
//***************************************
$details_table_width: 1000px;
.employee_container{
    h3{margin-bottom: 1em;}
    table{
        margin: 0 auto 1em auto;
    }

    .job-t{
        .employee_img{
            width: 10em;
            height: 10em;
            border-radius: .5em;
            border: 1px solid #bbb;
        }
        td{
            width : $details_table_width/3;
            padding: 1em;
        }
    }

    .work-t{
        td{
            width : $details_table_width/8;
            padding: 1em;
        }
    }

    .individual-t{
        .employee_img{
            width: 10em;
            height: 10em;
            border-radius: .5em;
            border: 1px solid #bbb;
        }

        td{
            width : $details_table_width/4;
            padding: 1em;

            position: relative;
            // 必須
            .req::after{
                position: absolute;
                top: 1em;
                right: .5em;
                content:'必須';
                text-align: center;
                padding: .2em .5em;
                color: #fff;
                background: red;
            }

        }
        td:nth-child(2){
            display: flex;
            width : $details_table_width/4*3;
            text-align: left;

            input{
                width: 18em;
                line-height: 2em;
            }
            select{
                width: 10em;
                line-height: 2em;
            }


            //エラー文
            .error{
                padding: .2em 0;
                margin-left: 2em;
                color: red;
            }


        }
    }

}

.submit_container{
    display: flex;
    justify-content: center;
    margin: 2em auto;
    width: $details_table_width;

    .btn{
        width: 16rem;
        padding: 1rem 0;

        text-align: center;
        // font-weight: bold;
        font-size: 16px;
        margin-right: 1rem;
        border: 2px solid $col_main;
        border-radius: .8rem;
        cursor: pointer;
    }
    .col_btn{
        @extend.btn;
        // color : #fff;
        background: $col_main;
    }
}

