@charset "UTF-8";
.btn-1 {
  padding: .5em 1em;
  border-radius: .3em;
  border: 1px solid #bbb;
  background: #fff;
  font-weight: bold;
}

/*
/-------------------------------------------------------------------------
/ リセットCSS
/-------------------------------------------------------------------------
*/
body {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
}

body, h1, h2, h3, h4, ul, ol, li, a, p, div, nav, figure, article, section, i {
  margin: 0 0;
  padding: 0 0;
}

/* h1,h2,h3,h4,h5,h6{font-size: 100%;} */
table {
  border-collapse: collapse;
  /*隣り合うセルの境界線を重ねて表示*/
  border-spacing: 0;
  /*境界線の感覚を無くす*/
}

img {
  border: none;
  /*枠線を消す*/
  vertical-align: bottom;
  /*画像下の余白を消す*/
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

header {
  min-width: 960px;
  height: 2.2rem;
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  background: #5a5555;
  color: #fff;
  font-weight: bold;
}
header ul[class="menu"] {
  display: flex;
}
header ul[class="menu"] li {
  line-height: 2.2rem;
}
header ul[class="menu"] li h2 {
  margin: 0 1rem;
}
header ul[class="menu"] li a {
  display: block;
  padding: 0 1.5em;
  color: #fff;
  line-height: 2.2rem;
}
header ul[class="menu"] li .current {
  box-sizing: border-box;
  border-radius: .5em .5em 0 0;
  margin-top: .1em;
  background: #fff;
  color: #00c700;
  pointer-events: none;
}
header ul[class="menu"] li :hover {
  color: #00f000;
}
header ul[class="user"] {
  display: flex;
}
header ul[class="user"] li {
  line-height: 2.2rem;
}
header ul[class="user"] li[class="item"] {
  margin-right: 1em;
}
header ul[class="user"] li[class="item"] img {
  margin-bottom: 0.1rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
}
header ul[class="user"] .dd_menu {
  position: relative;
}
header ul[class="user"] .dd_menu i {
  border: 1px solid #eee;
  border-radius: 1px;
  line-height: 2.2rem;
  cursor: pointer;
}
header ul[class="user"] .dd_menu .dd_box {
  position: absolute;
  top: 2.2rem;
  right: 0;
  visibility: hidden;
  font-size: 11px;
  padding: .2em;
  width: 16em;
  box-sizing: border-box;
  background: #fff;
  border: none;
}
header ul[class="user"] .dd_menu .dd_box li {
  height: 0;
  overflow: hidden;
  transition: height .3s;
}
header ul[class="user"] .dd_menu .dd_box li a, header ul[class="user"] .dd_menu .dd_box li button, header ul[class="user"] .dd_menu .dd_box li label {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0 1.5em;
  font-size: 11px;
  color: #000;
  line-height: 2.2rem;
}
header ul[class="user"] .dd_menu .dd_box li :hover {
  background: #bbb;
}
header ul[class="user"] .dd_menu:hover ul {
  visibility: visible;
  border: solid 1px #bbb;
}
header ul[class="user"] .dd_menu:hover ul li {
  height: 2.2rem;
}
header ul[class="user"] .dd_menu {
  position: relative;
}
header ul[class="user"] .dd_menu li > a::before {
  position: relative;
  top: .15em;
  font-family: 'Material Icons';
  color: #00c700;
  font-weight: bold;
  z-index: 2;
  top: .2em;
  left: 10em;
  content: "\e5cc";
}
header ul[class="user"] .dd_menu i {
  border: 1px solid #eee;
  border-radius: 1px;
  line-height: 2.2rem;
  cursor: pointer;
}

main {
  min-height: 100vh;
}
main .main_head {
  min-width: 960px;
  margin: 0 auto;
  padding-left: 1em;
  display: flex;
  border-bottom: solid 2px #eee;
  background: #fff;
}
main .main_head h2 {
  box-sizing: border-box;
  min-width: 8em;
  line-height: 1.8em;
}
main .main_head ul[class="app_menu"] {
  display: flex;
}
main .main_head ul[class="app_menu"] li {
  box-sizing: border-box;
  font-weight: bold;
}
main .main_head ul[class="app_menu"] li a {
  display: block;
  box-sizing: border-box;
  margin: .2em 0;
  padding: .3em 1em;
  line-height: 1.6em;
}
main .main_head ul[class="app_menu"] li .current {
  color: #00c700;
  pointer-events: none;
}
main .main_head ul[class="app_menu"] li hover {
  color: #00f000;
}
main ul[class="breadcrumb"] {
  min-width: 960px;
  margin: 0 auto;
  padding-left: 1em;
  font-size: 11px;
  display: flex;
  align-items: center;
  padding: .5em 0;
}
main ul[class="breadcrumb"] li:first-child:before {
  position: relative;
  top: .15em;
  font-family: 'Material Icons';
  color: #00c700;
  font-weight: bold;
  z-index: 2;
  content: "\e88a";
}
main ul[class="breadcrumb"] li:not(:first-child):before {
  position: relative;
  top: .15em;
  font-family: 'Material Icons';
  color: #00c700;
  font-weight: bold;
  z-index: 2;
  content: "\e5cc";
  margin: 0 .5em;
}
main .main_body {
  min-width: 960px;
  margin: 0 auto;
  padding-left: 1em;
  max-width: 1000px;
}
main .main_body h3 {
  font-size: 1.6em;
  border-left: solid 0.8rem #00c700;
}
main .main_body .oparation_btn_container {
  margin: 1em 0;
}
main .main_body .oparation_btn_container p[class="filtering_key"] {
  font-weight: bold;
  color: #00c700;
}
main .main_body .oparation_btn_container ul[class="op_btns"] {
  display: flex;
  align-items: center;
  margin-bottom: 1.6em;
}
main .main_body .oparation_btn_container ul[class="op_btns"] .btn-op {
  padding: .4em 1em;
  border-radius: .3em;
  border: 1px solid #bbb;
  background: #fff;
  color: #00c700;
  font-weight: bold;
  margin-right: 1em;
}

footer p {
  margin: 0 auto;
  border-top: solid 1px #bbb;
  line-height: 3rem;
  text-align: center;
  background-color: #fff;
}

.admin {
  background-color: #eee;
}

main .main_body table {
  margin-bottom: 1em;
  border-collapse: collapse;
  border: 1px solid #bbb;
  background: #fff;
}
main .main_body table tr {
  border-top: 1px solid #bbb;
}
main .main_body table tr td {
  box-sizing: border-box;
  text-align: center;
  box-sizing: border-box;
  width: 90px;
}
main .main_body table tr .long {
  width: 150px;
}
main .main_body .oparation_btn_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
main .main_body .oparation_btn_container ul[class="op_btns"] {
  font-weight: bold;
}
main .main_body .oparation_btn_container ul[class="op_btns"] li select {
  width: 8rem;
  height: 2em;
  margin-right: 1em;
  border: solid 1px #00c700;
  border-radius: .3em;
  font-size: 16px;
}
main .main_body .oparation_btn_container ul[class="op_btns"] li[class="serch_btn"] {
  margin-left: 1em;
}
main .main_body .oparation_btn_container ul[class="op_btns"] li[class="serch_btn"] .btn-op {
  width: 8em;
  font-size: 1em;
  background: #00c700;
  border: solid 2px #00c700;
  color: #fff;
}
main .main_body .oparation_btn_container ul[class="op_btns"] li[class="other_btn"] .btn-op {
  width: 6em;
  text-align: center;
  background: #fff;
  border: solid 2px #aaa;
  color: #000;
}

.contents h4 {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  padding: 0;
}
.contents h4 p {
  margin-right: 2em;
}
.contents h4 .pason_item {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 2em;
}
.contents h4 .pason_item .employee_img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 1px solid #bbb;
  margin: .5em 1em;
}
.contents h4 .pason_item .id, .contents h4 .pason_item .name {
  font-weight: bold;
  margin-right: .5em;
}
.contents .edit table .td_size1 {
  width: 200px;
}
.contents .edit table .title {
  border-right: solid 1px #bbb;
}
.contents .date_table_box table .td_item {
  width: 100px;
}
.contents .date_table_box table .td_long {
  width: 150px;
}
.contents .month_table_box table .td_item {
  width: 160px;
}
.contents .person_table_box table .td_item {
  width: 125px;
}
.contents .person_table_box table .td_long {
  width: 187.5px;
}
.contents .date_table_box tbody tr:nth-child(odd), .contents .month_table_box tbody tr:nth-child(odd), .contents .person_table_box tbody tr:nth-child(odd) {
  background-color: #eee;
}
.contents table th, .contents table td {
  font-size: 14px;
  padding: .5em;
  height: 3.6rem;
}
.contents table th .td_image, .contents table td .td_image {
  width: 3em;
}
.contents table th .td_name, .contents table td .td_name {
  width: 160px;
}
.contents table th .td_name .id, .contents table td .td_name .id {
  font-size: .8em;
}
.contents table tfoot tr {
  border-top: 2px solid #bbb;
}
.contents table .employee_img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: 1px solid #bbb;
}
.contents .submit_container {
  display: flex;
  justify-content: center;
  margin: 2em auto;
  width: 1000px;
}
.contents .submit_container .btn, .contents .submit_container .col_btn {
  width: 16rem;
  padding: 1rem 0;
  text-align: center;
  font-size: 16px;
  margin-right: 1rem;
  border: 2px solid #00c700;
  border-radius: .8rem;
  cursor: pointer;
}
.contents .submit_container .col_btn {
  color: #fff;
  background: #00c700;
}
.contents .submit_container .col_btn :hover {
  background: pink;
}
.contents .submit_container .col_btn:hover {
  background: #009400;
  border: solid 2px #009400;
  color: #e6e6e6;
}

/*# sourceMappingURL=attendance_manegement.css.map */
