<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <link rel="stylesheet" href="../../../public/css/attendance_manegement.css">
    <title>勤怠管理</title>
</head>


<body class='admin'>
    <header>
        <ul class="menu">
            <li><h2>業務アプリ</h2></li>
            <li><a href="">従業員管理</a></li>
            <li><a href="" class="current">勤怠管理</a></li>
            <li><a href="">スケジュール</a></li>
        </ul>
        <ul class="user">
            <li class="item"><img src="../../../public/image/employees/e0001.png" alt="user image"></li>
            <li class="item">name nameさん </li>
            <li class="item dd_menu">
                <i class="material-icons">arrow_drop_down</i>
                <ul class="dd_box">
                    <li><a href="">ログアウト</a></li>
                    <li><a href="">パスワード変更</a></li>
                    <li><a href="">その他設定変更</a></li>
                </ul>
            </li>
        </ul>
    </header>


    <main>
        <div class="main_head">
            <h2>勤怠管理</h2>
            <ul class="app_menu">
                <li><a href="" class="current">日別勤怠一覧</a></li>
                <li><a href="">月別勤怠一覧</a></li>
                <li><a href="">個人別勤怠一覧</a></li>
                <li><a href="">勤怠修正</a></li>
            </ul>
        </div>

        <div class="main_body">
            <ul class="breadcrumb">
                <li><a href="">従業員一覧（アプリ名）</a></li>
                <li><a href="">○○さんの詳細ページ</a></li>
                <li><a href="">編集画面</a></li>
                <li><a href="">○○さんの編集ページ</a></li>
            </ul>

            <h3>勤怠修正</h3>
            <!-- メインコンテンツ -->
            <div class="contents">
                <div class="precautions">
                    <h4>入力上の注意</h4>
                    <ul>
                        <li>時間の入力は"半角数字"と":"記号を用いて"00:00"の形で入力してください。</li>
                        <li>勤務時間、休憩時間、労働時間の計算は、15分刻みに計算されます。</li>
                    </ul>
                    <div id="error" >エラーコメント</div>
                </div>

                <form action="#" class="edit">
                    <table>
                        <tr>
                            <td colspan="5">
                                <h4>
                                    <div class="pason_item">
                                        <img class="employee_img" src="../../../public/image/employees/e0001.png" alt="user image">
                                        <p class="id">0000</p>
                                        <p class="name">山田　宗一郎さん</p>
                                    </div>
                                    <p>2021年 4月 4日(日)</p>
                                </h4>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_size1 title">出勤時間</td>
                            <td class="td_size1">
                                <label>IN <input name="in" type="text" value ="08:00" size="3"></label>
                            </td>
                            <td class="td_size1">
                                <label for="">OUT<input name="out" type="text" value ="17:00" size="3"></label>
                            </td>
                            <td class="td_size1"></td>
                            <td class="td_size1"></td>
                        </tr>
                        <tr class="breaks">
                            <td class="td_size1 title" rowspan="4">休憩時間</td>
                            <td class="td_size1">
                                <label for="">IN <input name="" class="breakIn" type="text" value ="10:00" size="3"></label>
                            </td>
                            <td class="td_size1">
                                <label for=""> OUT<input name="" class="breakOut" type="text" value ="10:30" size="3"></label>
                            </td>
                            <td class="td_size1 breakTime">休憩時間00:30 <input type="hidden" value="30"></td>
                            <td class="td_size1">
                                <label>
                                    <input type="checkbox">
                                    <p class="btn-1 brakeDelete">削除</p>
                                </label>
                            </td>                        </tr>
                        <tr class="breaks">
                            <!-- <td class="td_size1">休憩時間</td> -->
                            <td class="td_size1">
                                <label for="">IN <input name="" class="breakIn" type="text" value ="13:00" size="3"></label>
                            </td>
                            <td class="td_size1">
                                <label for=""> OUT<input name="" class="breakOut" type="text" value ="13:30" size="3"></label>
                            </td>
                            <td class="td_size1 breakTime">休憩時間00:30 <input type="hidden" value="30"></td>
                            <td class="td_size1">
                                <label>
                                    <input type="checkbox">
                                    <p class="btn-1 brakeDelete">削除</p>
                                </label>
                            </td>
                        </tr>
                        <tr class="breaks">
                            <!-- <td class="td_size1">休憩時間</td> -->
                            <td class="td_size1">
                                <label for="">IN <input name="" class="breakIn" type="text" value ="15:00" size="3"></label>
                            </td>
                            <td class="td_size1">
                                <label for=""> OUT<input name="" class="breakOut" type="text" value ="15:30" size="3"></label>
                            </td>
                            <td class="td_size1 breakTime">休憩時間00:30 <input type="hidden" value="30"></td>
                            <td class="td_size1">
                                <label>
                                    <input type="checkbox">
                                    <p class="btn-1 brakeDelete">削除</p>
                                </label>
                            </td>
                        </tr>
                        <tr class="breaks">
                            <!-- <td class="td_size1">休憩時間</td> -->
                            <td class="td_size1">IN <input class="breakIn" type="text" value ="" size="3"></td>
                            <td class="td_size1">OUT<input class="breakOut" type="text" value ="" size="3"></td>
                            <td class="td_size1 breakTime">休憩時間--:-- <input type="hidden" value="30"></td>
                            <td class="td_size1">
                                <label>
                                    <input type="checkbox">
                                    <p class="btn-1 brakeDelete">削除</p>
                                </label>
                            </td>
                        </tr>

                        <tr class="total">
                            <td class="td_size1 title">合計</td>
                            <td id="restrainTime" class="td_size1">勤務時間09:00</td>
                            <td id="breakTime" class="td_size1">休憩時間01:30</td>
                            <td id="workingTime" class="td_size1">労働時間07:30</td>
                            <td　class="td_size1"></td>
                        </tr>
                    </table>
                    <div class="submit_container">
                        <button class="col_btn" type="submit">保存</button>
                        <a class="btn">戻る</a>
                    </div>
                </form>

            </div>
        </div>

    </main>
    <footer><p>&copy2021 SAKAI TAKAHIRO</p></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sprintf/1.1.2/sprintf.min.js"></script>
    <script src="../../../public/js/attendance_manegement_edit.js"></script>
</body>
</html>
