<!doctype html>
<html>
<head>
<meta charset="utf-8">
<style type="text/css">
    table{
        border-collapse: collapse;/*隣り合うセルの境界線を重ねて表示*/
        border-spacing: 0;/*境界線の感覚を無くす*/
    }
    th,td{
        width: 10em;
        border: solid 1px #bbb;
        text-align: center;
    }

</style>
</head>
<body>
    <h3>日別勤怠一覧</h3>
    <div class="date_table_box">
        <h4>
            <p>2021年 4月 4日(日)  勤務現場 : 東京支店</p>　
        </h4>
        <table>
            <thead>
                <tr>
                    <th class="td_long td_name">ID・従業員名</th>
                    <th class="td_long">出勤現場</th>
                    <th class="td_long">出勤時間</th>
                    <th class="td_long">休憩開始</th>
                    <th >勤務時間</th>
                    <th >休憩時間</th>
                    <th >労働時間</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td_name">
                        <p class="id">1111</p>
                        <p>山田　宗一郎</p>
                    </td>
                    <td>東京支店</td>
                    <td>00:00 - 00:00</td>
                    <td>
                        <p>00:00 - 00:00</p>
                        <p>00:00 - 00:00</p>
                        <p>00:00 - 00:00</p>
                    </td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>

                </tr>
                <tr>
                    <td class="td_name">
                        <p class="id">1111</p>
                        <p>山田　宗一郎</p>
                    </td>
                    <td>東京支店</td>
                    <td>00:00 - 00:00</td>
                    <td>00:00 - 00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>

                </tr>
                <tr>
                    <td class="td_name">
                        <p class="id">1111</p>
                        <p>山田　宗一郎</p>
                    </td>
                    <td>東京支店</td>
                    <td>00:00 - 00:00</td>
                    <td>00:00 - 00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">合計時間</td>
                    <td colspan="2"></td>
                    <td>00:00</td>
                    <td>00:00</td>
                    <td>00:00</td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>
